build/
MDK-ARM/.vscode/
MDK-ARM/DebugConfig/
MDK-ARM/EventRecorderStub.scvd
MDK-ARM/JLink*.txt
MDK-ARM/JLinkSettings.ini
MDK-ARM/data.log
MDK-ARM/test_9238/
MDK-ARM/*.o
MDK-ARM/*.d
MDK-ARM/*.crf
MDK-ARM/*.dep
MDK-ARM/*.lst
MDK-ARM/*.axf
MDK-ARM/*.hex
MDK-ARM/*.htm
MDK-ARM/*.bak
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvopt
MDK-ARM/RTE/
.embeddedskills/
*.o
*.d
*.lst
*.axf
*.hex
*.htm
*.dep
